.movieBoxContainer {
    width: 350px;
    min-width: 350px;
    height: 175px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    cursor: pointer;
}